*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f3f7;
  color: #999;
}

#breadcrumbs {
  font-weight: 700;
}

a {
  color: #50b1ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.box {
  margin: 20px;
  border: 1px solid #d9d6d6;
  font-size: 16px;
}

.box .box-header {
  font-family: proxima-nova,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 600;
  font-style: normal;
  background: #f7f7f7;
  background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f7f7f7));
  background: -webkit-linear-gradient(top,#fff,#f7f7f7);
  background: linear-gradient(top,#fff,#f7f7f7);
  text-transform: uppercase;
  height: 45px;
  font-size: 16px;
  border-bottom: 1px solid #d9d6d6;
}

.box .box-header .box-header-content {
  padding: 12px 20px;
  font-weight: 700;
  position: relative;
}

.box .box-content {
  padding: 20px;
  background: #fff;
}

.box.box-breadcrumbs .box-header {
  height: auto;
}

.box.box-breadcrumbs .box-header-content {
  padding: 0;
}

.breadcrumbs a {
  position: relative;
  display: inline-block;
  padding: 8px 18px 8px 10px;
  font-weight: 700;
  font-size: 12px;
  color: #a3a9ab;
  text-shadow: 0 1px 0 #FFF;
  -webkit-transition: 300ms color;
  transition: 300ms color;
}

.breadcrumbs a:after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(../images/breadcrumb.png) no-repeat center right;
}

.breadcrumbs a:hover {
  color: #50b1ff;
  text-decoration: none;
}

.treeRoot > span {
  color: #7b8386;
}

.root > span {
  color: #7b8386;
  cursor: pointer;
}

.node > span {
  color: #7b8386;
  cursor: pointer;
}

.key:after {
  content: ": ";
}

.key {
  color: #445D68;
}

.value {
  color: #5C8B9B;
}

.key:hover + .value {
  color: orange;
  border: 1px solid #cdcdcd;
  transition: all 0.3s linear;
}

#tree, #tree ul{
/*  font: normal normal 14px/20px Helvetica, Arial, sans-serif;*/
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
  position: relative;
  overflow:hidden;
}

#tree ul > li{
  margin: 0;
  padding: 2px 12px;
  position: relative;
}

#tree ul > li::before, #tree ul > li::after{
  content: '';
  position: absolute;
  left: 0;
}

/* horizontal line on inner list items */
#tree ul > li::before{
  border-top: 1px solid #cdcdcd;
  top: 10px;
  width: 10px;
  height: 0;
}

/* Don't make tree for first node (database name) */
#tree ul:first-child > li::before {
  border-top: none;
}

/* But do add a bit of style to it! */
#tree ul:first-child > li > span {
  position: relative;
  right: 1%;
  text-transform: uppercase;
}

/* vertical line on list items */
#tree ul > li::after{
  border-left: 1px solid #cdcdcd;
  height: 100%;
  width: 0px;
  top: -10px;
}

/* lower line on list items from the first level because they don't have parents */
#tree > ul > li::after{
  top: 10px;
}

/* hide line from the last of the first level list items */
#tree > ul > li:last-child::after{
  display: none;
}


#tree ul:last-child li:last-child::after{
  height:20px;
}

/* Hide tree items by default */
.node > ul, .node .root > ul {
  opacity:0;
  height: 0;
  -webkit-transition: height 0s 290ms, opacity 300ms ease-in-out;
    -moz-transition: height 0s 290ms, opacity 300ms ease-in-out;
      -ms-transition: height 0s 290ms, opacity 300ms ease-in-out;
        -o-transition: height 0s 290ms, opacity 300ms ease-in-out;
          transition: height 0s 290ms, opacity 300ms ease-in-out;
}

.node > ul.expanded, .node .root > ul.expanded {
  opacity:1;
  height: 100%;
  -webkit-transition: height 0s, opacity 300ms ease-in-out;
    -moz-transition: height 0s, opacity 300ms ease-in-out;
      -ms-transition: height 0s, opacity 300ms ease-in-out;
        -o-transition: height 0s, opacity 300ms ease-in-out;
          transition: height 0s, opacity 300ms ease-in-out;
}

/* if collapsed/hidden display "+" */
span.collapsed:before {
  content : "+";
  position: relative;
  top: -2px;
  color: orange;
}

span.expanded:before {
  content : "- ";
  position: relative;
  top: -1px;
  color: orange;
}
